

  <%if @pokemon.photo.attached? %>
      <%= cl_image_tag @pokemon.photo.key %>
    <% end %>

    <h2>Your booking</h2>
    <ul>
      <li>Pokemon: <%=@booking.pokemon.name%></li>
      <li>Owner : <%=@pokemon.username %> </li>
    </ul>

<p><%= link_to 'Add a review', new_booking_review_path(@booking) %></p>