<div class="container">

  <h1>MY BOOKINGS</h1>  
  
  <% @bookings.each do |booking| %>

  <%= link_to booking_path(booking) do %>
  <%= cl_image_tag booking.pokemon.photo.key %>

    <% end %>  
  <% end %>

  <h1>MY POKEMONS</h1>

  <% @pokemons.each do |pokemon| %>
   
  <%= link_to pokemon_path(pokemon) do %>
  <%= cl_image_tag pokemon.photo.key %>

    <% end %>
  <% end %>
