<% if user_signed_in? %>

<div class="my-navbar">
  <lottie-player class="logo"src="https://assets4.lottiefiles.com/private_files/lf30_rBOODA.json"  background="transparent"  speed="1"  style="width: 120px; height: 120px;" autoplay loop></lottie-player>
  <img class="login" src="https://kitt.lewagon.com/placeholder/users/ssaunier" height="50" width="50">
</div>

<% else %>
<div class="my-navbar">
  <lottie-player class="logo"src="https://assets4.lottiefiles.com/private_files/lf30_rBOODA.json"  background="transparent"  speed="1"  style="width: 120px; height: 120px;" autoplay loop></lottie-player>
  <img class="login" src="https://kitt.lewagon.com/placeholder/users/ssaunier" height="50" width="50">
</div>
<% end %>
