<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>Pages#home</h1>
      <p>Find me in app/views/pages/home.html.erb</p>
      <input type="text" name="search_for_pokemons">
      <br>
      <%= link_to "See all our pokemons", pokemons_path %>
    </div>
</div>



