.column-right {
  margin-top: 70px;
  margin-left: 200px;
}

.column-left {
  justify-content: center;
}

.elements-column {
  margin-top: 70px;
}

.bg-white {
  background-color: white;
  padding: 20px;
}
