.login-btn {
  background-color: #f03454;
  border: 1px solid #f03454;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  height: 40px;
  padding: 0 30px;
  text-decoration: none;
}

.delete-btn {
  background-color: black;
  border: 1px solid yellow;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  height: 40px;
  padding: 0 30px;
  text-decoration: none;
  text-shadow: none;
}
