<div class="edit-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 bg-dark login-box">
        <h1>Update your Pokemon</h1>
          <%= render "form" %>
      </div>
    </div>
  </div>
</div>
