
<div class="container">
  <div class="row">
    <div class="col-6">
      <h1> All pokemons !!! </h1>
      <% @pokemons.each do |pokemon| %>
        <%= link_to pokemon.name, pokemon_path(pokemon) %>
      <% end %>
      <br>
      <%= link_to "Go Back Home baby", root_path %>
      <br>
      <p><%= link_to "Add a pokemon", new_pokemon_path %></p>
    </div>
</div>
