<div class="container">
  <div class="row">
    <div class="col-6">

    <a href="https://fontmeme.com/fr/police-pokemon/"><img src="https://fontmeme.com/permalink/201120/38e058578aa5b6ed04cef864788f80b6.png" class="add_pokemon" alt="police-pokemon" border="0"></a>

<%= render "form" %>
<p></p>
<%= link_to "Cancel", root_path(@pokemon) %>

    </div>
    </div>
</div>

