<div class="banner-show-review">
 <div class="container">
  <div class="row">
    <div class="col-md-5 bg-dark login-box">
    <h3>How was your experience ?</h3>

      <%= simple_form_for [@booking, @review] do |f| %>
        <%= f.input :comment %>
        <%= f.input :rating %>
        <%= f.submit "Submit review", class: "btn btn-primary" %>
      <% end %>

      </div>
    </div>
  </div>
</div>
